<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Todos</title>
  </head>
  <body>
    <h1>Things to do today:</h1>
    <ul>
        <% for (let i= 0; i< list.length; i++) { %>
            <li><%= list[i] %></li>
          <% } %>
    </ul>
  </body>
</html>
