.container {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 300px;
    background-color: rgb(255, 217, 0);
    margin: 0;
    padding: 0;  
}

.item {
    background-color: rgb(122, 55, 153);
    height: 100px;
    width: 100px;
    z-index: 1;
    list-style-type: none;
    position: relative;
    margin-right: 5px;
}
