.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
}

body {
    margin: 0;
}

.green {
    flex-grow: 25;
    order: 1;
    background-color: rgb(113, 221, 40);
}

.yellow {
    flex-grow: 50;
    order: 3;
    background-color: rgb(255, 217, 0);
}

.purple {
    flex-grow: 25;
    order: 2;
    background-color: rgb(122, 55, 153);
}

