.container {
    margin: 0;
    display: flex;
    float: left;
}

.item {
    height: 100px;
    width: 100px;
}

.green {
    height: 100px;
    width: 100px;
    background-color: rgb(113, 221, 40);
}

.yellow {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 217, 0);
}

.purple {
    height: 100px;
    width: 100px;
    background-color: rgb(122, 55, 153);
}
